/* reset and common code starts here */
:root {
  --primary-color: rgb(11, 181, 48);
  --secondary-color: rgba(36, 122, 55, 0.9);
  --padding: 0.5rem;
  --transition: all 0.3s;
  --border-radius: 0.6rem;
  --box-shados: 0.1rem 0.2rem 0.8rem rgba(205, 202, 202, 0.5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: auto;
}

.display-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title {
  font-size: 2rem;
}

.card {
  box-sizing: var(--box-shados);
  border-radius: var(--border-radius);
  padding: var(--padding);
  transition: var(--transition);
}

.card:hover {
  box-shadow: 0.1rem 0.2rem 0.8rem rgba(205, 202, 202, 0.1);
}

.dot {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-block;
}

.dot-red {
  background-color: red;
}

.dot-green {
  background-color: green;
}

.dot-blue {
  background-color: blue;
}

/* reset and common code ends here */

/* navbar starts here */
#menu-icon {
  display: none;
}

nav {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 101;
}

.nav-upper {
  background-color: var(--primary-color);
  min-height: 10vh;
  padding: var(--padding);
}

.nav-list {
  transition: var(--transition);
}

.nav-link {
  color: white;
  transition: var(--transition);
}

.nav-link:hover {
  color: black;
}

.profile-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  filter: saturate(0.5);
  transition: var(--transition);
}

.profile-icon:hover {
  filter: saturate(1);
}

.nav-lower {
  min-height: 10vh;
  background-color: var(--secondary-color);
  font-weight: bold;
}

.nav-brand {
  font-size: 2rem;
}
/* navbar ends here */

/* header starts here */
.header {
  padding: 4rem;
  height: 80vh;
  background-image: url("https://images.unsplash.com/photo-1654855114931-9060aa20c17c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.banner {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.banner-title {
  font-size: 3rem;
  color: rgba(255, 255, 0, 0.856);
  padding: 1rem;
  border-radius: var(--border-radius);
}

.features {
  width: 100%;
}

.feature {
  background-color: rgb(80, 160, 78, 0.7);
  color: white;
  padding: 1rem;
  gap: 1rem;
  width: 15rem;
  border-radius: var(--border-radius);
  flex-direction: column;
}

.feature-icon {
  font-size: 3rem;
}
/* header ends here */

/* main starts here */
main {
  padding: 4rem 0;
  min-height: 80vh;
}

.side-bar {
  flex: 1;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  align-self: flex-start;
}

.main-content {
  flex: 3;
  padding: var(--padding);
}

.action-sort select {
  padding: var(--padding);
}

.action-search input {
  width: 15rem;
  padding: var(--padding);
}

.action-search button {
  padding: var(--padding);
  margin-left: -3px;
  cursor: pointer;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
  padding: 2rem 0;
}

.products img {
  width: 100%;
  height: 15rem;
  filter: saturate(0);
  transition: var(--transition);
}

.products img:hover {
  filter: saturate(1);
}

.product-body {
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.learn-more {
  color: blue;
}

.product-btn {
  font-size: 1rem;
  margin-top: 1rem;
  text-transform: capitalize;
  padding: var(--padding);
  transition: var(--transition);
}

.product-btn:hover {
  background-color: blue;
  color: white;
}
/* main ends here */

/* footer starts here */
.footer {
  height: 10vh;
  background-color: var(--primary-color);
  padding: var(--padding);
  color: white;
}

.footer-input,
.btn-subscribe {
  padding: var(--padding);
}
/* footer ends here */

/* responsiveness starts here */
@media screen and (max-width: 992px) {
  #menu-icon {
    display: block;
    text-align: center;
    margin: 1rem 0;
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  .display-space-around,
  .display-center {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0rem;
  }

  .header {
    height: 100vh;
  }

  .feature-icon {
    font-size: 2rem;
  }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 992px) {
}
/* responsiveness ends here */
